body, html {
  width: 100%;
  height: 100%;
  margin: 0px;
  text-align: center;
}
#main-bg {
  background-image: url("apartment-building.jpg");
  background-size: 100% 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  margin: 0px;
}
#main-screen {
  background-color: rgba(255,255,255,0.9);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  margin: 0px;
}

h1 {
  width: 100%;
  margin: 0px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 48px;
  color: royalblue;
  font-family: "Helvetica Neue";
  font-weight: 300;
  text-align: center;
  display: inline-block;
}
.add_data_button {
  outline: none;
  border: none;
  width: 200px;
  height: 125px;
  border-radius: 50%;
  background-color: royalblue;
  display: inline-block;
  color: white;
  font-size: 24px;
  font-family: Arial;
  font-weight: bold;
  margin: 10px;
  text-decoration: none;
  line-height: 25px;
  padding-top: 75px;
}
.add_data_button:hover {
  box-shadow: 0px 10px 15px rgba(0,0,0,0.25);
  transition: 0.25s all;
  transform: translateY(-5px);
  cursor: pointer;
}

.input_box {
  background-color: royalblue;
  width: 640px;
  padding: 20px;
  margin-left: calc(50% - 320px);
  border-radius: 20px;
}
.input_box input, .input_box select {
  width: 100%;
  height: 35px;
  font-size: 24px;
  margin-top: 20px;
  border: none;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
}
.input_box input[type="text"] {
  width: calc(100% - 20px);
  padding-left: 10px;
  padding-right: 10px;
}
.input_box input[type="submit"] {
  border-radius: 10px;
  width: 50%;
  color: royalblue;
}

.input_box input[type="submit"]:hover {
  box-shadow: 0px 10px 15px rgba(0,0,0,0.25);
  transition: 0.25s all;
  transform: translateY(-5px);
  cursor: pointer;
}

.create_database_button {
  text-align: center;
  width: 200px;
  height: 60px;
  padding: 15px 32px;
  text-align: center;
  background-color: royalblue;
  display: inline-block;
  color: white;
  font-size: 24px;
  font-family: Arial;
  font-weight: bold;
  margin: 10px;
  text-decoration: none;
  line-height: 25px;
}


.create_database_button:hover {
  box-shadow: 0px 10px 15px rgba(0,0,0,0.25);
  transition: 0.25s all;
  transform: translateY(-5px);
  cursor: 
}


.view_database_button {
  text-align: center;
  width: 200px;
  height: 60px;
  padding: 15px 32px;
  text-align: center;
  background-color: royalblue;
  display: inline-block;
  color: white;
  font-size: 24px;
  font-family: Arial;
  font-weight: bold;
  margin: 10px;
  text-decoration: none;
  line-height: 25px;
}


.view_database_button:hover {
  box-shadow: 0px 10px 15px rgba(0,0,0,0.25);
  transition: 0.25s all;
  transform: translateY(-5px);
  cursor: 
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width:80%;
  color: royalblue;
  border: none;


}

td, th {
  border: 1px solid royalblue;
  text-align: left;
  padding: 8px;
  color: black;
}

tr:nth-child(odd) {
  background-color: royalblue;
  color: black;
}

/* */
